html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.header {
    height: 60px;
    background-color: #0d92a0;
}

.logo {
    text-align: center;
}
.logo a {
    display: inline-block;
    vertical-align: middle;
}
.logo img {
    padding: 10px;
    width: auto;
    height: 40px;
}
.logo p {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

#map {
    width: 100%;
    height: 100%;
}

#f4map {
    width: 100%;
    height: 600px;
    border: 0 none;
    outline: 0 none;
}

.osmb {

}

.osmb-viewport {
    position:absolute;
}

.osmb-attribution {
    position:absolute;
    right:0;
    bottom:0;
    padding:1px 3px;
    background:rgba(255,255,255,0.5);
    font:11px sans-serif;
    z-index: 10;
}

.osmb-attribution a {
    text-decoration:none;
    color:#0078A8;
}

.osmb-attribution a:visited {
    text-decoration:none;
    color:#0078A8;
}

.osmb-attribution a:hover {
    text-decoration:underline;
    color:#0078A8;
}

.glmap-attribution {
    display: none;
}



.f4map-general-spinner {
    display: none !important;
}

.f4map-nav, .f4map-node {
    display: none !important;
}
.f4map-footer {
    display: none !important;
}

#flight-input {
    position: absolute;
    display: flex;
    top: 20vh;
    width: 50vw;
    left: calc(50% - 25vw);
    border-radius: 4px;
    overflow: hidden;
    align-items: stretch;
}

#flight-input input[type='text'] {
    padding: 0 15px;
	margin: 0;
    flex: 8;
	line-height: 45px;
    border-width: 0px;
	text-align: left;
	font-size: 15px;
    background-color: #fff;
    display: inline-block;
    color: #0d92a0;
    text-transform: uppercase;
}

#flight-input input[type='text']::placeholder{
    color: rgba(13, 146, 160, 0.7);
}

#flight-input input[type='submit'] {
    display: inline-block;
    padding: 0 15px;
    flex: 2;
	margin: 0;
	line-height: 45px;
	text-align: left;
	font-size: 15px;
    background-color: #0d92a0;
    color: #fff;
    border-width: 0px;
}
